{% extends "layout.twig" %}

{% block title %}{{ mode.current | title }} Events - {{ parent() }}{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h1 class="pull-left">{{ mode.current | title }} Events</h1>
    <span class="pull-right">
      <a href="{{ path_for('events', { 'mode' : mode.next }) }}" class="btn btn-default btn-valign">{{ mode.next | title }} Events</a>
    </span>
    <span class="clearfix"></span>
  </div>
  <div class="row">
  {% for event in events %}
    <div class="col-sm-6">
      <h2>{{ event.title }}</h2>
      <p>
        <i class="fa fa-fw fa-clock-o"></i> {{ event.start_date | date('d/m/Y g:i A') }} to {{ event.end_date | date('d/m/Y g:i A') }}
      </p>
      <p>
        <i class="fa fa-fw fa-map-marker"></i> {{ event.location }}
      </p>
      <a href="{{ path_for('event', { 'id' : event.id }) }}" class="btn btn-primary">More&hellip;</a>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
