{% extends "layout.twig" %}

{% block content %}

<div class="container">
  <br />

  <h1>{{ event.title }}</h1>
  <p>
    <i class="fa fa-fw fa-clock-o"></i> {{ event.start_date | date('d/m/Y g:i A') }} to {{ event.end_date | date('d/m/Y g:i A') }}
  </p>
  <p>
    <i class="fa fa-fw fa-map-marker"></i> {{ event.location }}
  </p>
  <p>
    {{ event.description | nl2br }}
  </P>
  <a href="{{ path_for('events') }}" class="btn btn-success"><i class="fa fa-arrow-left"></i> Back</a>
</div>

{% endblock %}
