{% extends "layout.twig" %}

{% block content %}

<br />

<div class="container">
  <div class="row">
  {% for event in events %}
    <div class="col-sm-6">
      <h1>{{ event.title }}</h1>
      <p>
        {{ event.start_date | date('d/m/Y g:i A') }} - {{ event.end_date | date('d/m/Y g:i A') }}
      </p>
      <p>
        {{ event.description }}
      </P>
      <a href="{{ path_for('event', { 'id' : event.id }) }}" class="btn btn-primary">More&hellip;</a>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
